.SideBar_container {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--kn-side-bar-width);
}
.SideBar {
  text-align: center;
  min-width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
}
